<div data-action="post" id="post-editor-form">
    <p>
        <input placeholder="Title" id="post_title" type="text" class="validate">
    </p>
    <textarea id="editor" autofocus></textarea>
    <p>
        <div class="row">
            <div class="col s12 m8"><input placeholder="Tags: life, work, art etc" id="post_tags" type="text" class="validate"></div>
            <div class="col s12 m4"><input placeholder="Optional: post password" id="post_password" type="text" class="validate"></div>
        </div>
    </p>
    <button class="btn waves-effect waves-light" type="submit" name="action" id="button-post-submit">Submit
        <i class="material-icons right">send</i>
    </button>
    <button class="btn waves-effect waves-light" type="submit" name="action" id="button-post-save-draft">Save Draft
        <i class="material-icons right">save</i>
    </button>

    <span id="error_text" class="error" style="display:hidden;"></span>
</div>
<p></p>

<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a href="#posts" class="active">Posts</a></li>
            <li class="tab col s3"><a href="#drafts">Drafts</a></li>
            <li class="tab col s3"><a href="#scheduled">Scheduled</a></li>
            <li class="tab col s3"><a href="#settings">Settings</a></li>
        </ul>
    </div>
    <div id="posts" class="col s12">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Post</th>
                    <th>Time</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                {{#each posts}}
                <tr>
                    <td>
                        <label>
                            <input data-slug="{{slug}}" type="checkbox" name="checkbox_post_action" />
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <p class="truncate">{{{removeTruncate body}}}</p>
                    </td>
                    <td>{{{formatTimeAgo date}}}</td>
                    <td data-slug="{{slug}}">
                        <a id="panel-post-edit" data-position="bottom" data-tooltip="Edit"
                            class="tooltipped btn-floating waves-effect waves-light red"><i
                                class="material-icons">create</i></a>
                        <a id="panel-post-delete" data-position="bottom" data-tooltip="Delete"
                            class="tooltipped btn-floating waves-effect waves-light red"><i
                                class="material-icons">delete</i></a>
                        <a id="panel-post-archive" data-position="bottom" data-tooltip="Archive"
                            class="tooltipped btn-floating waves-effect waves-light red"><i
                                class="material-icons">archive</i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div id="drafts" class="col s12">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Post</th>
                    <th>Time</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                {{#each drafts}}
                <tr>
                    <td>
                        <label>
                            <input data-slug="{{slug}}" type="checkbox" name="checkbox_post_action" />
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <p class="truncate">{{{removeTruncate body}}}</p>
                    </td>
                    <td>{{{formatTimeAgo date}}}</td>
                    <td data-slug="{{slug}}">
                        <a id="panel-post-edit" class="btn-floating waves-effect waves-light red"><i
                                class="material-icons">create</i></a>
                        <a id="panel-post-delete" class="btn-floating waves-effect waves-light red"><i
                                class="material-icons">delete</i></a>
                        <a id="panel-post-archive" class="btn-floating waves-effect waves-light red"><i
                                class="material-icons">archive</i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div id="scheduled" class="col s12">Test 3</div>
    <div id="settings" class="col s12">
        <table>
            <tr>

                <td>Current:
                    {{#if avatar}}
                    <br><img src="/img/{{avatar}}" style="width:100px" />
                    {{/if}}
                </td>
                <td>
                    <input id="fileUpload" type="file" name="file-avatar" />
                    <div id="image-holder"></div>
                </td>
                <td>
                    <button class="btn waves-effect waves-light" type="submit" name="action"
                        id="button-upload-photos">Upload
                        <i class="material-icons right">send</i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-field col s12">
                        <textarea id="textarea-about-me"
                            class="materialize-textarea">{{#if aboutMe}}{{aboutMe}}{{/if}}</textarea>
                        <label for="textarea-about-me">About Me</label>
                    </div>
                </td>
                <td>

                </td>
                <td>
                    <button class="btn waves-effect waves-light" type="submit" name="action"
                        id="button-update-aboutme">Update
                        <i class="material-icons right">send</i>
                    </button>
                </td>
            </tr>
            <tr>
                <td> <button class="btn waves-effect waves-light" type="submit" name="action"
                        id="button-export-database">Export Database
                        <i class="material-icons right">file_download</i>
                    </button></td>
                <td>
                    <form id="form-import-zip">
                        <input type="file" name="database-import-zip" id="button-import-database" value="Go" />
                    </form>
                </td>
                <td></td>
            </tr>
        </table>
    </div>
</div>