<div class="row">
    <div class="col s12 l8">
        {{#each posts}}
        <div class="post fr-view">
            <h5><a href="/p/{{slug}}">{{title}}</a></h5>
            <p><small class="tooltipped" data-position="bottom" data-tooltip="{{date}}">{{unix}}</small></p>
            <p>{{{body}}}</p>
            <p>Tags: {{{tags}}}</p>
        </div>

        {{else}}
        <p>
            <h5>No posts yet!</h5>
        </p>
        {{/each}}
    </div>
    <div class="col s12 l4">
        <div class="card">
            <div class="card-content">
                {{#if avatar}}
                <img src="/img/{{avatar}}" style="width:100px" class="circle responsive-img about-me-avatar" />
                {{/if}}
            </div>
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab"><a href="#archives">Archives</a></li>
                    <li class="tab"><a class="active" href="#about">About</a></li>
                    <li class="tab"><a href="#tags">Tags</a></li>
                </ul>
            </div>
            <div class="card-content grey lighten-4">
                <div id="archives">
                    {{#if archives}}
                    <ul>
                        {{#each archives}}
                        <li><a href="/m/{{this.url}}">{{this.name}}</a> ({{this.count}})</li>
                        {{/each}}
                    </ul>
                    {{else}}
                    <p>
                        No archives yet
                    </p>
                    {{/if}}
                </div>
                <div id="about">
                    {{#if aboutMe}}
                    {{aboutMe}}
                    {{else}}
                    Welcome to my blog!
                    {{/if}}
                </div>
                <div id="tags">
                    {{#each tags}}
                    <p><a href="/t/{{{escape v}}}">{{{escape v}}}</a> ({{c}})</p>
                    {{else}}
                    <p>
                        No tags yet
                    </p>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>