<div class="row">
    <div class="col s12 l8">
        {{#each posts}}
        <div class="post">
            <h5><a href="/p/{{slug}}">{{title}}</a></h5>
            <p>Date: {{date}}</p>
            <p>{{{body}}}</p>
            <p>Tags: {{{tags}}}</p>
        </div>
        {{/each}}
    </div>
    <div class="col s12 l4">
        <div class="card">
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because
                    I require little markup to use effectively.</p>
            </div>
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab"><a href="#about">About</a></li>
                    <li class="tab"><a class="active" href="#archive">Archive</a></li>
                    <li class="tab"><a href="#cloud">Cloud</a></li>
                </ul>
            </div>
            <div class="card-content grey lighten-4">
                <div id="about">Test 1</div>
                <div id="archive">Test 2</div>
                <div id="cloud"><div id="cloud_data"></div></div>
            </div>
        </div>
    </div>
</div>